.ArticleList {
    margin-top: 3rem;
}

.header__container--list {
    height: 100vh;
}

.link {
    text-decoration: none;
    color: #000;
    /*font-family: Lato;*/
}

.article__info {
    margin-top: 5rem;
}

.article-list__title {
    margin-top: 3rem;
}

.article-list__description {
    margin-top: 1rem;
}

.article-list__author {
    margin-top: 1rem;
}


